<style>
#table {
  table-layout: fixed;
  border: 1px solid #EEE;
}
 #table .table-cell {
   border-right: 1px solid #EEE;
   width: 1.6em;
   font-size: 0.85em;
 }
</style>
<div class="top-navigation-bar">
  <h2 class="entity-title">Depósitos pendientes de traspasar a Tryton</h2> 
</div>
<div class="admin_content_wrapper">
  <div>
      <table id="table" class="table">
        <thead class="table-header">
          <tr>
            <th class="table-cell left_text" scope="col" style="width:10%">Id</th>
            <th class="table-cell left_text" scope="col" style="width:10%">Fecha cobro</th>
            <th class="table-cell right_text" scope="col" style="width:10%">Importe cobro</th>
            <th class="table-cell right_text" scope="col" style="width:10%">#Cobro</th>
            <th class="table-cell left_text" scope="col" style="width:10%">Representa</th>
            <th class="table-cell left_text" scope="col" style="width:10%">Actividad</th>
            <th class="table-cell left_text" scope="col" style="width:10%">Fecha actividad</th>
            <th class="table-cell centered_text" scope="col" style="width:15%">Acciones</th>
          </tr>
        </thead>
        <tbody>    
          <% @data.each do |charge| %>  
          <tr class="table-row" <% if (@sync_only_first_charge and charge.charge_order > 1) %>style="background:#eeeeee"<%end%>  >
            <td class="table-cell"><%= charge.id %></td>
            <td class="table-cell"><%= charge.date.strftime('%Y-%m-%d %H:%M') %></td>
            <td class="table-cell right_text"><%= "%.2f" % charge.amount %></td>
            <td class="table-cell right_text"><%= charge.charge_order %></td>
            <td class="table-cell"><%if charge.amount == charge.charge_source.charge_source.total_cost%>Total<%else%><%if charge.charge_order==1%>Depósito<%else%>Cobro #<%=charge.charge_order%><%end%><%end%></td>
            <td class="table-cell"><a href="<%= charge.charge_source.charge_source_url%>"><%= charge.charge_source.charge_source_description%></a></td>
            <td class="table-cell"><%= charge.charge_source.charge_source.summary_planned%></td>
            <td class="table-cell centered_text">
              <% if (@sync_only_first_charge and charge.charge_order == 1) or (!@sync_only_first_charge) %>
              <form action="/admin/tryton/charge/<%=charge.id%>" method="post"><input class="form-button blue-button" type="submit" value="Traspasar"/></form>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

  </div>
</div>